# Virtual envs
.venv/
venv/

# Python build/cache
__pycache__/
*.py[cod]
*.egg-info/
.build/
dist/
.eggs/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files & local config
.env
.env.*
